# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
cpuid/Release
NiceHashMiner.v12.suo
NiceHashMiner/bin/Debug/Newtonsoft.Json.dll
NiceHashMiner/bin/Debug/Newtonsoft.Json.pdb
NiceHashMiner/bin/Debug/Newtonsoft.Json.xml
NiceHashMiner/bin/Debug/NiceHashMiner.exe
NiceHashMiner/bin/Debug/NiceHashMiner.pdb
NiceHashMiner/bin/Debug/NiceHashMiner.vshost.exe
NiceHashMiner/NiceHashMiner.csproj.user
NiceHashMiner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
NiceHashMiner/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NiceHashMiner/obj/Debug/NiceHashMiner.csproj.FileListAbsolute.txt
NiceHashMiner/obj/Debug/NiceHashMiner.csproj.GenerateResource.Cache
NiceHashMiner/obj/Debug/NiceHashMiner.exe
NiceHashMiner/obj/Debug/NiceHashMiner.Form1.resources
NiceHashMiner/obj/Debug/NiceHashMiner.pdb
NiceHashMiner/obj/Debug/NiceHashMiner.Properties.Resources.resources
NiceHashMiner/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
NiceHashMiner/bin/Debug/NiceHashMiner.vshost.exe.manifest
*.log
cpuid/cpuid.vcxproj.user
*.tlog
*.obj
*.pdb
*.idb
NiceHashMiner.sdf
NiceHashMiner.opensdf
Release
packages/log4net.2.0.5/log4net.2.0.5.nupkg
packages/log4net.2.0.5/lib/net10-full
packages/log4net.2.0.5/lib/net11-full
packages/log4net.2.0.5/lib/net35-client
packages/log4net.2.0.5/lib/net35-full
packages/log4net.2.0.5/lib/net40-client
packages/log4net.2.0.5/lib/net40-full
packages/log4net.2.0.5/lib/net45-full